@import "definiciones";
@import "fonts";
@import "footer";

.cabecera {
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

nav.nav {
  width: 100%;
  height: 40px;
  background-color: $marron_oscuro;
  color: white;
  padding: 0 15px;
  font-size: 1.4em;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  .top-bar-section {
    a {
      font-weight: bold;
    }
  }
}
nav section.top-bar-section ul.right {
  float: right;
  li {
    list-style-type: none;
    float: left;
    margin: $enano;
  }
}

.headline {
  padding: 5px;
  border-bottom: 1px dotted;
}

button {
  color: $azul_uva_oficial;
  border: 1px solid $azul_uva_oficial !important;
  padding: 5px 20px !important;
  background-color: white;
  text-transform: uppercase !important;
  &:hover{
    color: white;
    background-color: $azul_uva_oficial;
    cursor: pointer;
  }
}

ul.nodos_hijos {
  li {
    list-style-type: none;
  }
}
