<div *ngIf="nodo" class="row" style="margin-top: 20px;">
  <div class="columns small-12 medium-8">
    <h2 class="headline">{{nodo.unidad}}</h2>
    <h3>{{nodo.nombre}} {{nodo.apellido1}} {{nodo.apellido2}}</h3>
    <p>{{nodo.descripcion}}</p>
    <p>{{nodo.nombre_edificio}}<br/>
    {{nodo.direccion}}, {{nodo.codigo_postal}}</p>
    <p *ngIf="nodo.telefono"><small>Tlf/Extensión</small> <i class="fi-telephone"></i> <a href="tel://{{nodo.telefono}}">{{nodo.telefono}}</a></p>
    <p *ngIf="nodo.fax"><small>Fax</small> <a href="tel://{{nodo.fax}}">{{nodo.fax}}</a></p>
    <p><i class="fi-mail"></i> <a href="mailto:{{nodo.email}}">{{nodo.email}}</a></p>
  </div>
  <div class="columns small-12 medium-4">
    <h2><i class="fi-marker"></i> Localización</h2>
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{nodo.direccion}},Spain&zoom=15&size=400x400&markers=color:blue|&key=AIzaSyC6s_Gg7FmyR8wxke4cgr8F8AwgQAqkW9U">
    <p class="text-center" style="margin-top:10px;"><a href="http://www.google.es/maps/place/{{nodo.direccion}},Spain" role="link" target="_blank" class="button"><i class="fi-marker"></i>&nbsp;&nbsp;&nbsp;Abrir en Google Maps</a><br/>
    <small>{{nodo.direccion_google}}</small></p>
  </div>
</div>
